# Fichiers sensibles
.env
connections.json

# Fichiers temporaires et PID
app.pid
*.pid
*.log

# Bases de données locales
*.sqlite

# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build/Dist
build/
dist/
client/build/

# Systèmes
.DS_Store
Thumbs.db

# Autres
npm-debug.log*
yarn-debug.log*
yarn-error.log* 